<?xml version="1.0" encoding="UTF-8"?>
<!-- vi:se ft=xml fenc=utf-8 ff=unix tw=80 ai si sw=2 et ts=2 sts=2: -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://phpunit.de/phpunit.xsd"
         cacheTokens="true"
         colors="true"
         processIsolation="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="true"
         stopOnSkipped="true"
         strict="true"
>
  <testsuites>
    <testsuite name="tox">
      <directory suffix="-test.php">../share/test</directory>
    </testsuite>
    <testsuite name="tox.core">
      <directory suffix="-test.php">../share/test/core</directory>
    </testsuite>
    <testsuite name="tox.application">
      <directory suffix="-test.php">../share/test/application</directory>
    </testsuite>
    <testsuite name="tox.web">
      <directory suffix="-test.php">../share/test/web</directory>
    </testsuite>
    <testsuite name="tox.data">
      <directory suffix="-test.php">../share/test/data</directory>
    </testsuite>
    <testsuite name="tox.type">
      <directory suffix="-test.php">../share/test/type</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../src</directory>
      <exclude>
        <directory suffix="exception.php">../src</directory>
        <directory>../src/application/@exception</directory>
        <directory>../src/application/configuration/@exception</directory>
        <directory>../src/application/dao/cache/@exception</directory>
        <directory>../src/application/model/@exception</directory>
        <directory>../src/application/output/@exception</directory>
        <directory>../src/application/router/@exception</directory>
        <directory>../src/core/@exception</directory>
        <directory>../src/data/kv/@exception</directory>
        <directory>../src/type/@exception</directory>
        <directory>../src/web/@exception</directory>
        <directory>../src/web/response/@exception</directory>
      </exclude>
    </whitelist>
  </filter>
  <logging>
    <log type="tap" target="../build/phpunit.tap"/>
    <log type="testdox-text" target="../build/phpunit.log"/>
    <log type="coverage-text"
         target="../build/code-coverage/brief.log"
         showUncoveredFiles="true"
    />
    <log type="coverage-html"
         target="../build/code-coverage"
         charset="UTF-8"
         yui="true"
         highlight="true"
         lowUpperBound="50"
         highLowerBound="80"
         showUncoveredFiles="true"
    />
  </logging>
  <php>
    <ini name="display_errors" value="on"/>
    <ini name="date.timezone" value="Asia/Shanghai"/>
    <ini name="xdebug.collect_includes" value="off"/>
    <ini name="xdebug.collect_params" value="0"/>
    <ini name="xdebug.collect_return" value="off"/>
    <ini name="xdebug.collect_vars" value="off"/>
    <ini name="xdebug.collect_assignments" value="off"/>
    <ini name="xdebug.show_exception_trace" value="off"/>
  </php>
</phpunit>
